<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simulação</title>
</head>

<body>
  <h1>Olá Cliente!</h1>
  <form action="/simulacao/criar" method="post">
    <label for="tservico">Tipo Serviço:</label><br>
    <input type="text" id="tservico" name="tservico"><br>
    <label for="vminimo">Valor Mínimo:</label><br>
    <input type="text" id="vminimo" name="vminimo"><br>
    <label for="vmaximo">Valor Máximo:</label><br>
    <input type="text" id="vmaximo" name="vmaximo"><br><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>