<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contratação</title>
</head>

<body>
  <h1>Preencha os dados para a contratação!</h1>
  <label>Profissional:</label>
    <ul>
        <li th:inline="text">[[${profissional.nome}]]</li>
    </ul>
    <label>Tipo de Serviço:</label>
    <ul>
        <li th:inline="text">[[${profissional.tipoServico.nomeServico}]]</li>
    </ul>
    <label>Valor:</label>
    <ul>
       <li th:inline="text">R$ [[${profissional.valorCobrado}]]</li>
    </ul>
  <form th:action="@{'/servico/contratacao/' + ${id} + '/efetuar'}" method="post">
    <label>Datas:</label>
    <select name="data">
        <option th:each="data: ${datas}" th:text="${data.dia}+'/'+${data.mes}+'/'+${data.ano}"></option>
    </select>
    <label>Lougradouro:</label>
    <input type="text" name="lougradouro"> 
    <label>Numero:</label>
    <input type="text" name="numero"> 
    <label>Cidade:</label>
    <input type="text" name="cidade"> 
    <label>Bairro:</label>
    <input type="text" name="bairro"> 
    <label>Estado:</label>
    <input type="text" name="estado"> 
    <input type="submit" value="Submit">
  </form>
</body>

</html>